body{
    font-weight: 500;
    font-size: 1.05em;
    font-family: "Microsoft YaHei","ו","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
    background:#fff;
    margin: 0;
    padding: 0;
    color: #5e5e5e;
}
a{color: #2fa0ec;outline: none;text-decoration: none;}
a:hover,a:focus{color:#74777b;text-decoration: none;}
table {
    border-collapse: collapse;
}
th, td {
    padding: 0.3em 1em;
} 
.tab{
    margin-top: 30px;
}
.tab .nav-tabs{
    border:none;
    border-bottom: 1px solid #e4e4e4;
}
.nav-tabs li a{
    padding: 15px 40px;
    border:1px solid #ededed;
    border-top: 2px solid #ededed;
    border-right: 0px none;
    background: #f5f5f5;
    color:#555;
    border-radius: 0px;
    margin-right: 0px;
    font-weight: bold;
    transition: all 0.3s ease-in 0s;
}
.nav-tabs li a:hover{
    border-bottom-color: #ededed;
    border-right: 0px none;
    background: #00b0ad;
    color: #fff;
}
.nav-tabs li a i{
    display: inline-block;
    text-align: center;
    margin-right:10px;
}
.nav-tabs li:last-child{
    border-right:1px solid #ededed;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover{
    border-top: 3px solid #f5f5f5;
    border-right: 1px solid #d3d3d3;
    margin-top: -15px;
    color: #444;
    padding: 22px 40px;
}
.tab .tab-content{
    padding: 20px;
    line-height: 22px;
}
.tab .tab-content h3{
    margin-top: 0;
}
@media only screen and (max-width: 767px){
    .nav-tabs li{
        width:100%;
        margin-bottom: 10px;
    }
    .nav-tabs li a{
        padding: 15px;
    }
    .nav-tabs li.active a,
    .nav-tabs li.active a:focus,
    .nav-tabs li.active a:hover{
        padding: 15px;
        margin-top: 0;
    }
}
.span-6{
    font-size:15px;
}
.background-light{
    font-size:20px;
    text-align:center;
    text-align:justify;
    text-align-last:justify
}
.datalist-1{
    width:720px;
    height:400px;
}
.mtop-1{
    background-color:#2fa0ec;
    font-size:20px;
    height:60px;
    margin-bottom:10px;
}
.Slect_stations{
    line-height:20px;
    font-size: 12px;
    z-index:999;
    width: 500px;
    height: 220px;
    left:20%;
    top:20%;
    margin-left:-150px;
    margin-top:-60px;
    margin-top:0px;
    position:fixed;
    position:absolute;
}
.date-mid-1{
    display:inline;
    position:absolute;
    top:200px;
}
.container{
    display:inline;
}
#date-mid-2{
    position:absolute;
    top:10%;
    left:15%;
}
.Slect_stations{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 115%; 
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
}
.sta_content{
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 780px; 
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.header-unlogin li {
	float: left
}
.header-signin a,.header-signup a,.header-logout a{
	display: block;
	width: 60px;
	font-size: 14px;
	text-align: center;
	height: 60px;
	line-height: 60px;
	color: #787d82;
	transition: background-color .2s
}
.header-signin a:hover {
	color: #fff;
	background-color: #ec1500
}
.header-signup a:hover {
	color: #fff;
	background-color: rgba(77,85,93,.4)
}
ul{
    margin: 0;
    padding: 0;
    list-style:none; 
}
.signin{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 115%; 
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
}
.rl-modal-header{
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #aaa;
    width: 360px; 
}
.rl-modal-header {
    position: relative;
    padding: 0 20px;
}
a, button, input {
    outline: 0;
}
.rl-modal-header h1 span {
    float: left;
    width: 80px;
    text-align: center;
    height: 49px;
    line-height: 49px;
    cursor: pointer;
}
.rl-modal-header h1 {
    font-size: 16px;
    line-height: 49px;
    height: 49px;
    color: #787d82;
    border-bottom: 1px solid #d0d6d9;
    font-weight: 400;
}
.ipt{
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 15px Arial;
    width:300px;
    border-radius:0px;
}
.hover1{
    border-bottom: 1px solid #f01400;
    color: #f01400;
}
.signin{
        border-bottom: 1px solid #f01400;
    color: #f01400;
}




